/* Styles for the modal components */
button.show-modal, .modal-box, .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the overlay */
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  
  /* Styles for the modal box */
  .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  /* Styles for the check icon */
  .modal-box i {
    font-size: 70px;
    color: black;
  }
  
  /* Styles for buttons */
  button {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #007bff;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* Hover effect for buttons */
  button:hover {
    background: #0056b3;
  }
  
  /* Styles for the modal heading */
  .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
  }
  
  /* Styles for the modal subheading */
  .modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
  }
  
  /* Styles for button container */
  .modal-box .buttons {
    margin-top: 25px;
  }
  
  /* Styles for additional buttons */
  .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  }
  