/* Styles for the checkout container */
.checkout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  }
  
  /* Styles for the order summary card */
  .order-summary-card {
    display: flex;
    flex-direction: column;
  }
  
  /* Styles for the order summary heading */
  .order-summary-card h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 28px;
  }
  
  /* Styles for the order items list */
  .order-items {
    list-style: none;
    border: 2px solid red;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  /* Styles for each order item */
  .order-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee; /* Light gray border */
  }
  
  /* Styles for the quantity control section */
  .quantity-control {
    display: flex;
    align-items: center;
  }
  
  /* Styles for quantity buttons */

/*  .quantity-button {
    padding: 5px 10px;
    font-size: 18px;
    background-color: #007bff; /* Rappi blue */
   /* color: #fff; /* White text */
    /* border: none;
    cursor: pointer;
    border-radius: 50%;
  }  */
  
  /* Styles for the item quantity input */
  .item-quantity {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 10px;
    padding: 5px;
  }
  
  /* Styles for the total section */
  .total {
    font-size: 18px;
    margin-top: 15px;
    color: #333; /* Dark gray text */
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  
  /* Styles for the item count */
  .item-count {
    font-weight: bold;
  }
  
  /* Styles for the total price */
  .total-price {
    font-weight: bold;
  }
  
  /* Styles for the payment method section */
  .payment-method {
    margin-top: 10px;
    text-align: center;
  }
  
  /* Styles for payment method labels */
  .payment-method label {
    display: inline-block;
    margin-right: 10px;
    
    /* color: #333; Dark gray text */
  }

  .pay-button-container{
    text-align: center;
  margin-top: 20px;
  }
  
  /* Styles for the Proceed to Pay button */
  .proceed-to-pay-button {
    padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  }
  
  /* Hover effect for buttons */
  .quantity-button:hover,
  .proceed-to-pay-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  